{% extends 'base.html' %}


{%block head_title %}上傳圖片{% endblock %}
{% block content %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>description</th>
          <th>Image</th>
      </tr>
    </thead>
    <tbody>

    {% for img in images %}
      <tr>
          <td>{{img.description}}</td>
          <td><img src="{{img.image.url}}" width="120"/>
                  <form action="{% url 'delete' pk=img.id %}" method="POST">
                  {% csrf_token %}
                  <a href='http://127.0.0.1:8000/delete/{{img.pk}}'>DELETE </a>
                  </form>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>



{% endblock %}
